<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ int i = 0; }

</head>
<body>
        <div class="row head">
            <div class="col-md-4 logo">
                <a href="/home/index/@Model.pageCategories"><img class="log" src="~/Content/images/logo.png" /></a>
            </div>
            <div class="col-md-4 textabout">
                <p>Факультет <br />   информатики</p>
            </div>
            <div class="col-md-4 slon">
                <img class="slon" src="~/Content/images/aaa.png" />
            </div>
        
    </div>
    <div class="container">
        @RenderBody()
    </div>
        <footer>
            @*<ul class="indexCats">
                @foreach (var pc_item in Model.pageCategories)
            {
                    <li>
                        <a href="/home/index/@pc_item.ID">
                            @pc_item.name
                        </a>
                    </li>

                }
            </ul>*@

            <ul class="indexCats">
                

                @foreach (var pc_item in Model.pageCategories)
                {
                    if (i < 5)
                    { 
                        <li>
                            <a href="/home/index/@pc_item.ID" class="button">
                                @pc_item.name
                            </a>
                        </li>
                        i = i + 1;
                    }

                }
            </ul>
           
        </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
